<!-- {% extends 'core/base.html' %}

{% block content %}

<div class="py-6 px-8">

    <div class="max-w-xl mx-auto py-8 bg-slate-800 text-center">
        <h1 class="text-3xl text-white font-semibold">Login</h1>

        <form class="mt-6 px-8 space-y-4" method="post" action=".">
            {% csrf_token %}
            <div>
                <label class="text-white">E-mail</label><br>
                <input type="email" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="email">
            </div>

            <div>
                <label class="text-white">Password</label><br>
                <input type="password" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="password">
            </div>

            <div>
                <button class="py-4 px-8 bg-sky-600 hover:bg-sky-700 text-white rounded">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} -->

{% extends 'core/base.html' %}

{% block content %}

<div class="py-6 px-8">
    <div class="max-w-xl mx-auto py-8 bg-slate-800 text-center">
        <h1 class="text-3xl text-white font-semibold">Login</h1>

        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="bg-red-500 text-white p-2 my-2 rounded">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form class="mt-6 px-8 space-y-4" method="post" action=".">
            {% csrf_token %}
            <div>
                <label class="text-white">E-mail</label><br>
                <input type="email" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="email" required>
            </div>
            <div>
                <label class="text-white">Password</label><br>
                <input type="password" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="password" required>
            </div>
            <div>
                <button class="py-4 px-8 bg-sky-600 hover:bg-sky-700 text-white rounded">Login</button>
            </div>
        </form>

        <div class="mt-4">
            <a href="/signup/" class="text-sky-400 hover:text-sky-500">Don't have an account? Sign up here.</a>
        </div>
    </div>
</div>

{% endblock %}
