{% extends 'core/base.html' %}

{% block content %}

    <div class="py-6 px-8">
        <h1 class="my-6 text-3xl font-semibold">
            {{project.name}}
        </h1>
        <p class="mb-6">{{project.description}}</p>
        <a href="{% url 'todolist:add' project.id %}" class="py-4 px-6 bg-emerald-600 hover:bg-emerald-700 text-white inline-block rounded me-2">Add todo list</a>
        <a href="{% url 'project:upload_file' project.id %}" class="py-4 px-6 bg-sky-600 hover:bg-sky-700 text-white inline-block rounded me-2">Upload File</a>
        <a href="{% url 'project:edit' project.id %}" class="py-4 px-8 bg-amber-600 hover:bg-amber-700 text-white inline-block rounded me-2">Edit</a>
        <a href="{% url 'project:delete' project.id %}" class="py-4 px-8 bg-red-600 hover:bg-red-700 text-white inline-block rounded">Delete</a>

        <h2 class="mt-6 text-2xl">Todo Lists</h2>

        <div class="mt-6 grid grid-cols-4 gap-4 ">
            {% for todolist in project.todolists.all %}
                <div class="py-6 px-6 bg-slate-200 rounded ">
                    <a href="{% url 'todolist:todolist' project.id todolist.id %}">
                        <h3 class="mb-4 text-xl">{{todolist.name}}</h3>

                        <p class="text-sm text-slate-600 truncate">{{todolist.description}}
                    </a>
                </div>
            {% endfor %}
    </div>

    <h2 class="mt-6 text-2xl">Files</h2>

    <div class="mt-6 grid grid-cols-4 gap-4 ">
        {% for projectfile in project.files.all %}
        <div class="py-6 px-6 bg-slate-200 rounded ">
                <h3 class="mb-4 text-xl">{{projectfile.name}}</h3>
 
                <a href="{{projectfile.attachment.url}}" target="_blank" class="text-sm text-sky-600 truncate underline">Download file
                </a>

                |

                <a href="{% url 'project:delete_file' project.id projectfile.id %}" class="text-sm text-slate-600">
                    Delete
                </a>
        </div>
        {% endfor %}
    </div>


{% endblock %}